@import "tailwindcss";

@theme{
  --color-lighttile:#D0D8B7;
  --color-blacktile:#B48764;
  --color-bg-color:#202020;


}

@layer components{
  .tile-size{
    @apply size-[60px] sm:size-[70px] md:size-[73px]
  }
}
